@charset "UTF-8";
.h1 {
  font-size: 60px;
  width: 90%;
  margin: auto;
  margin-bottom: 60px;
  margin-top: 80px;
  color: #f8f8f8; }

.h2 {
  font-size: 60px;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #1e2c35; }

.h1azul {
  color: #384d5f; }

.h1blanco {
  color: #f8f8f8; }

.h2azul {
  color: #384d5f; }

.h2blanco {
  color: #f8f8f8; }

.h3azul {
  color: #384d5f; }

.titulomedio {
  font-size: 175%; }

.titulogrande {
  font-size: 250%; }

.pblanco {
  color: #f8f8f8; }

.pazul {
  color: #384d5f; }

.sinsubrayar {
  text-decoration: none; }

/* Margenes */
.margenizq {
  margin-left: 85px; }

.margender {
  margin-right: 100px; }

.margensuperior {
  padding-top: 35px; }

.margeninferior {
  margin-bottom: 35px; }

/* Espaciado */
.espaciado {
  margin-bottom: 10px; }

.espacioizq {
  margin-left: 25px; }

.espacioder {
  margin-right: 50px; }

/* Alineaciones */
.centrartexto {
  text-align: center; }

.derechatexto {
  text-align: right; }

/* Flex */
.ordeninicial {
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: center;
  margin: auto;
  font-weight: bold; }

/* Botón */
.boton {
  border: 3px solid #f8f8f8;
  padding: 20px;
  text-decoration: none;
  color: #f8f8f8;
  border-radius: 30px;
  font-weight: bold;
  display: inline-block;
  margin-top: 60px;
  margin-left: 40px; }

footer {
  margin-left: 85px; }

.altofooter {
  height: 30vh; }

.redesfooter {
  display: inline-block;
  margin-left: -65px;
  padding: 25px; }

/* Formulario */
.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%; }

/* Fondo Contacto */
.fondocontacto {
  background-image: url(../imagenes_contacto/7121.jpg);
  width: 100%;
  height: 50vh;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.fondocontacto:before {
  content: "";
  width: 100%;
  height: 50vh;
  background-color: #1e2c35;
  position: absolute;
  opacity: 0.9; }

.fondocontacto h1 {
  position: relative;
  font-size: 60px;
  color: #f8f8f8; }

/* Pantalla Dividida Index */
.izquierda {
  background: #566fd4;
  height: 100vh;
  width: 50%; }

.derecha {
  background: url(../imagenes_index/fondo.index.jpg);
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100vh; }

#pantallaindex {
  display: flex; }

.h1 {
  font-size: 60px;
  width: 90%;
  margin: auto;
  margin-bottom: 60px;
  margin-top: 80px;
  color: #f8f8f8; }

.h2 {
  font-size: 60px;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #1e2c35; }

.ppantalla {
  font-size: 30px;
  line-height: 50px;
  width: 90%;
  margin: auto; }

.pindex {
  font-size: 30px;
  line-height: 50px;
  width: 60%;
  margin-left: 50px; }

.izquierdaindex {
  background: #f8f8f8;
  height: 80vh;
  width: 50%; }

.derechaindex {
  background: url(../imagenes_index/portfoliofoto.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 50%; }

.izquierdaindex2 {
  background: url(../imagenes_index/diseño.index.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 50%; }

.derechaindex2 {
  background: #f8f8f8;
  height: 100vh;
  width: 50%; }

/* Pantalla Dividida Servicios */
.izquierdaservicios {
  background: #1e2c35;
  height: 100vh;
  width: 50%; }

.derechaservicios {
  background: url(../imagenes_servicios/fondoservicios.jpeg);
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100vh; }

#pantallaservicios {
  display: flex; }

.izquierdaservicios2 {
  background: url(../imagenes_servicios/servicios2.jpg);
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 70vh; }

.derechaservicios2 {
  background: #f8f8f8;
  height: 70vh;
  width: 50%; }

.pservicios2 {
  font-size: 30px;
  line-height: 50px;
  width: 90%;
  margin: auto;
  color: #384d5f; }

.h2servicios {
  font-size: 60px;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #384d5f; }

.h2servicios2 {
  font-size: 60px;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #384d5f; }

.pservicios {
  font-size: 30px;
  line-height: 50px;
  width: 90%;
  margin: auto; }

.izquierdaservicios3 {
  background: #f8f8f8;
  height: 70vh;
  width: 50%; }

.derechaservicios3 {
  background: url(../imagenes_servicios/brandingservicios.jpg);
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 70vh; }

.pservicios3 {
  font-size: 30px;
  line-height: 50px;
  width: 90%;
  margin: auto; }

/* Pantalla Dividida Empresa */
.izquierdaempresa {
  background: #f8f8f8;
  height: 80vh;
  width: 50%; }

.derechaempresa {
  background: url(../imagenes_empresa/empresa_imagen.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 50%; }

#pantallaempresa {
  display: flex; }

.nosotros {
  margin-top: 40px;
  color: #384d5f;
  padding: 5px;
  margin-left: 40px;
  font-size: 25px; }

.h1empresa {
  font-size: 60px;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #384d5f; }

.pemepresa {
  font-size: 30px;
  line-height: 50px;
  width: 90%;
  margin: auto;
  margin-left: 40px; }

.pempresa2 {
  font-size: 30px;
  line-height: 50px;
  width: 75%;
  margin: auto;
  margin-left: 40px; }

@media (max-width: 575px) {
  .izquierdaempresa {
    background: #f8f8f8;
    height: 20px;
    width: 10px; }
  .derechaempresa {
    background: url(../imagenes_empresa/empresa_imagen.jpg);
    height: 20px;
    width: 10px; }
  body {
    font-size: xx-large; } }

.fuente {
  font-family: 'Roboto', sans-serif; }
